<div class="jumbotron text-center">
  <h1>Cypress System</h1>
	<p>Let's make our city better!</p>
</div>
<div class="row pl-5">
  <div class="col-md-4">
    <form>
      <fieldset>
        <legend>New Problems</legend>
          <input type="checkbox" name='region[]' value='Downtown'/>Downtown<br>
          <input type="checkbox" name='region[]' value='York'/>York Region<br>
          <input type="checkbox" name='region[]' value='North York'/>North York<br>
          <input type="checkbox" name='region[]' value='East York'/>East York<br>
          <input type="checkbox" name='region[]' value='Etobicoke'/>Etobicoke<br>
      </fieldset>
      <button type="submit" class="btn btn-primary">Show</button>
    </form>	
  </div>
  <div class="col-md-4">
    <form>
      <fieldset>
        <legend>Pending Problems</legend>
          <input type="checkbox" name='region[]' value='Downtown'/>Downtown<br>
          <input type="checkbox" name='region[]' value='York'/>York Region<br>
          <input type="checkbox" name='region[]' value='North York'/>North York<br>
          <input type="checkbox" name='region[]' value='East York'/>East York<br>
          <input type="checkbox" name='region[]' value='Etobicoke'/>Etobicoke<br>
      </fieldset>
      <button type="submit" class="btn btn-primary">Show</button>
    </form>	
  </div>
  <div class="col-md-4">
    <form>
      <fieldset>
        <legend>Finished Problems</legend>
          <input type="checkbox" name='region[]' value='Downtown'/>Downtown<br>
          <input type="checkbox" name='region[]' value='York'/>York<br>
          <input type="checkbox" name='region[]' value='North York'/>North York<br>
          <input type="checkbox" name='region[]' value='East York'/>East York<br>
          <input type="checkbox" name='region[]' value='Etobicoke'/>Etobicoke<br>
      </fieldset>
      <button type="submit" class="btn btn-primary">Show</button>
    </form>	
  </div>
</div>